In [8]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [9]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [10]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [17]:
tu = (23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [18]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [19]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [20]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [21]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [22]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [23]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [24]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [25]:
t = [1, 2, 4, 5]
3 in t

False

In [26]:
t = [1, 2, 4, 5]
4 in t

True

In [27]:
t = [1, 2, 4, 5]
4 not in t

False

In [28]:
a = 'abcde'
'c' in a

True

In [29]:
a = 'abcde'
'cd' in a

True

In [30]:
a = 'abcde'
'ac' in a

False

In [31]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [32]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [34]:
"Hello" + "" + "World"

'HelloWorld'